body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#banu{
    height: 200px;
    width: 200px;
    margin-left: 100%;
    border-radius:0%;
    margin: 0%;
    border-radius: 100%;
}
h3{
    color: blueviolet;
    background-color: black;
}
#big{
    display: flex;
    justify-content:center;
    flex-direction: row;
    flex-flow: row wrap;
    flex-wrap: wrap;
}
h4{
    display: flex;
    justify-content: center;
}
h1{
    color: blueviolet;
}
