body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#banu{
    height: 200px;
    width: 200px;
    border-radius:0%;
    margin: 0%;
    border-radius: 100%;
}
h3{
    color: blueviolet;
    background-color:antiquewhite;
}
#big{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    flex-wrap: row;
}
h4{
    display: flex;
    justify-content: center;
}
h1{
    color: blueviolet;
}
.information{
    display: flex;
    justify-content:right;
    flex-direction: row;
}